<% include ./partials/header %>


<div class="container">
	<div class="row">
		<div class="col-md-3">
			<br>
			<p class="lead">Doctors</p>
			<div class="list-group">
				<li class="list-group-item active">Dr. Methods</li>
				<li class="list-group-item">Dr. Malcolm</li>
				<li class="list-group-item">Dr. Camel</li>
			</div>
		</div>
		<div class="col-md-9">
			<h1 class="dispaly-4">Start Chatting</h1>
	        <br>
	        <input id="txtName" class="form-control" placeholder="Name" type="text">
	        <br>
	        <textarea id="txtMessage" class="form-control" placeholder="Message"></textarea>
	        <br>
	        <button id="send" class="btn btn-success">Send</button>
		</div>

    <!-- <br>
    <div class="jumbotron">
        <h1 class="dispaly-4">Start Chatting</h1>
        <br>
        <input id="txtName" class="form-control" placeholder="Name" type="text">
        <br>
        <textarea id="txtMessage" class="form-control" placeholder="Message"></textarea>
        <br>
        <button id="send" class="btn btn-success">Send</button>
    </div>
    <div id="messages"></div> -->
</div>

<% include ./partials/footer %>