<% include partials/header %>

<div class="container">

 <div class="jumbotron list-jumbotron">
    <h2>Medication Log</h2>
    <p>All your medications are listed below</p>
    <button class="btn btn-primary"><a class="square-name" href="/new">Add Entry</a></button>
 </div>


  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <% medication.forEach(function(medication){ %>
        <li class="list-group-item">
            <h5 class="mb-1"><%= medication.medicationName%></h5>
            <small class="med-date"><%= medication.date.toString() %></small>
            <p><%= medication.desc %></p>
        </li>
        <% }) %>
      </div>
    </a>
  </div>
</div>

<% include partials/footer %>