<% include partials/header %>

<div class="container main">

	<div class="col-lg-6" id="user-search">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	    </div>
	  </div>

	<% user.forEach(function(user){ %>
		<div class="user-box">
			<img class="thumbnail" src="<%= user.image %>">
			<h3 class="patient-name"><%= user.name %></h3>
			<p><span><span class="user-since">User Since: </span><%= user.created.toDateString() %></span></p>
			<!-- <a href="//<%= user._id %>">Read More</a> -->
			<button type="button" class="btn btn-primary">Read More</button>
		</div> 
	<% }) %>
</div>

<% include partials/footer %>