#wrap {
   min-height:100%;
   position:relative;
}

#boot-navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
}


.login-background{
	background: url("https://images.unsplash.com/photo-1452201200613-08b99de5b0b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31e1c536846f204aa75087f852d561b2&auto=format&fit=crop&w=2552&q=80");
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

#login-title {
	text-align: center;
	margin-bottom: 25px;
}


#login-container {
	width: 40%; 
	margin: 25px auto;
	padding-top: 10%;
}


.carousel{
  margin-left: -20px;
  margin-right: -20px;
}

.carousel .item {
  height: 400px;
  
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}


#menu-boxes {
	margin-top: 75px;
}


.square {
	width: 30%;
	height: 300px;
	margin: 1.36%;
	color: transparent;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 20px;
	vertical-align: top;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.square-icon {
	padding-top: 15%;
	margin-bottom: 35px;
	font-size: 8em;
	margin-left: 35%;
	color: rgb(128,128,128);
}



.square-name {
	/*text-align: center; 
	font-size: 17px;*/
	color: white;
	margin-top: 25px;
}


.square-name {
	color: white;
}

.square-name:hover {
	color: white;
}



.main-btn {
	margin-left: 25%;
	width: 50%;
	background-color: rgb(100,149,237);
	border-color: rgb(100,149,237);
}

.main-btn:hover {
	background-color: rgb(100,149,237);
	border-color: rgb(100,149,237);
}


.user-box {
	width: 30%;
	height: 320px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 1.26%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	text-align: center;
}

.user-box img {
	margin-top: 10px;
	margin-bottom: 5px;
	width: 50%;
	height: 50%;
	margin: 20px auto;
	object-fit: cover;
}



#tracker-form {
	width: 50%;
	margin-top: 10%;
}


textarea {
	width: 100%;
	height: 100px;
	overflow: auto;
	border:1px solid #ccc;
	border-radius: 4px;
	border-radius: 
	color: #ccc;
}

.patient-name {
	margin-top: 0;
}


.user-since {
	color: #337ab7;
	font-weight: 500;
}


.list-group {
	margin-top: 5%;
}


#user-search {
	display: block;
	margin: 50px 25%;
}


.list-jumbotron{
	margin-top: 20px;
	height: 250px;
}

.med-date {
	color: rgb(176,176,176);
}


.foot {
	/*position: relative;
    left: 0;
    bottom: 0;
	margin-top: 100px;
	height: 100px;
	width: 100vw;
	background-color: #eee;
	text-align: center;
	padding-top: 50px;*/

	position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    padding-top: 37px;
    background-color: #eee;
	text-align: center;

}

