

#boot-navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
}


.login-background{
	background: url("https://images.unsplash.com/photo-1452201200613-08b99de5b0b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31e1c536846f204aa75087f852d561b2&auto=format&fit=crop&w=2552&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

#login-title {
	text-align: center;
	margin-bottom: 25px;
}


#login-container {
	width: 40%; 
	margin: 25px auto;
	padding-top: 10%;
}


.carousel{
  margin-left: -20px;
  margin-right: -20px;
}

.carousel .item {
  height: 400px;
  
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}


#menu-boxes {
	margin-top: 75px;
}


.square {
	width: 30%;
	height: 300px;
	margin: 1.36%;
	background-color: rgb(0, 102, 204);
	display: inline-block;
	border-radius: 20px;
	vertical-align: top;
}

.square:hover {
	background-color: rgb(0, 102, 204, 0.5);
}



.square-icon {
	padding-top: 30%;
	font-size: 8em;
	margin-left: 35%;
	color: white;
}



.square-name {
	text-align: center; 
	font-size: 20px;
	color: white;
	margin-top: 25px;
}


.square-name a {
	color: white;
}



#tracker-form {
	width: 50%;
	margin-top: 20%;
}


textarea {
	width: 100%;
	height: 100px;
	overflow: auto;
	border:1px solid #ccc;
	border-radius: 4px;
	border-radius: 
	color: #ccc;
}

.foot {
	position: relative;
    left: 0;
    bottom: 0;
	margin-top: 100px;
	height: 100px;
	width: 100vw;
	background-color: #eee;
	text-align: center;
	padding-top: 50px;
}

